<a href="https://colab.research.google.com/github/GloriousMir/Python/blob/main/Week_02_Basic_Python_Statements%2C_IO_and_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# About this notebook
<p style="text-align: justify"> Here, you will learn the basic statements of python and function. Some codes will be given for demonstration. Some other codes, you will do as excercise.</p>

## Submission
<p style="text-align: justify">After completing the practice codes and exercises, submit the notebook (.ipynb file) to corresponding Intern through Microsoft Teams</p>
<p> 1.<b> You must submit your own code</b>. If similarity found negative marking will be given.</p>
<p> 2. Do not change the file name.</p>
<p> 3. Other file format will not be accepted.</p>

# User Input

In [ ]:
a = 21
print(a)

21

In [ ]:
a = input('Enter a value: ') # always returns string
print('The given value is '+ a)
print(type(a))

Enter a value: 32
The given value is 32
<class 'str'>

In [ ]:
a = int(input('Enter a number: ')) # returns string but converted to int
print('The given value is '+ str(a))
print(type(a))

Enter a number: 77
The given value is 77
<class 'int'>

In [ ]:
while True:
  a = input('Enter a number: ')
  if a.isdigit():
    print('The given value is '+ str(a))
    print(int(a) + 20)
    break
  print('WRONG INPUT')

Enter a number: 88
The given value is 88
108

# if statement
There can be zero or more elif parts, and the else part is optional. The keyword ‘elif’ is short for ‘else if’

In [ ]:
# indent
i = 3
if i < 5: # () not required, {} not required
    print('okay')
    print('fine')
else:
    print('bad')
    print('not okay') # will be executed in each run

okay
fine

In [ ]:
x = int(input("Please enter an integer: "))
if x < 0:
    x = 0
    print('Negative changed to zero')
elif x == 0:
    print('Zero')
elif x == 1:
    print('Single')
else:
    print('More')

Please enter an integer: 33
More

<b>Exercise 1:</b> Take a number (0-100) from user and Use if statement to print corresponiding grade.

In [ ]:
# code here

print("Enter Your Number (0-100): ")
number = int(input())

if number>=90 and number<=100:
    print("Your Grade is A+")
elif number>=85 and number<90:
    print("Your Grade is A")
elif number>=80 and number<85:
    print("Your Grade is B+")
elif number>=75 and number<80:
    print("Your Grade is B")
elif number>=70 and number<75:
    print("Your Grade is C+")
elif number>=65 and number<70:
    print("Your Grade is C")
elif number>=60 and number<65:
    print("Your Grade is D+")
elif number>=50 and number<60:
    print("Your Grade is D")
elif number>=0 and number<50:
    print("Your Grade is F")
else:
    print("Incomplete")

Enter Your Number (0-100):
65
Your Grade is C

# for statement
<p style="text-align: justify">The for statement in Python differs a bit from what you may be used to in C or C++. Rather than always giving the user the ability to define both the iteration step and halting condition, Python’s for statement iterates over the items of any sequence (a list or a string), in the order that they appear in the sequence.</p>

In [ ]:
# Measure some strings:
words = ['cat', 'window', 'dhaka', 'jack']
for w in words:
    print(w, len(w))

cat 3
window 6
dhaka 5
jack 4

In [ ]:
numbers = [1, 56, 78, 8]

for n in numbers:
    print(n+10)

11
66
88
18

### The range() Function
If you do need to iterate over a sequence of numbers, the built-in function range() comes in handy. It generates arithmetic progressions:

In [ ]:
for i in range(5):# repeated for 0 to 4
    print(i)

0
1
2
3
4

<p style="text-align: justify">The given end point is never part of the generated sequence; range(10) generates 10 values, the legal indices for items of a sequence of length 10. It is possible to let the range start at another number, or to specify a different increment (even negative; sometimes this is called the ‘step’):</p>

In [ ]:
list(range(5, 10))

[5, 6, 7, 8, 9]

In [ ]:
list(range(0, 10, 3))

[0, 3, 6, 9]

In [ ]:
list(range(-10, -100, -30))

[-10, -40, -70]

In [ ]:
for i in range(len(numbers)):
    print(i, numbers[i])

0 1
1 56
2 78
3 8

In [ ]:
for i in range(2,100,5):
    print(i, end = ' ')

2 7 12 17 22 27 32 37 42 47 52 57 62 67 72 77 82 87 92 97

<b>Exercise 2:</b> Print all the even numbers between 0 to 100 using for and range.

In [ ]:
# code here

for numbers in range(0, 100 + 1):
	
	if numbers % 2 == 0:
		print(numbers, end = " ")

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [ ]:
country = "bangladesh"
for c in country: 
    print(c,end=',')

b,a,n,g,l,a,d,e,s,h,

# Functions
<p style="text-align: justify">The keyword def introduces a function definition. It must be followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented.</p>

In [ ]:
def operate(a, b):
  print(str(a) + ' + ' + str(b) + ' = ' + str(a+b))
  print(str(a) + ' - ' + str(b) + ' = ' + str(a-b))
  print(str(a) + ' x ' + str(b) + ' = ' + str(a*b))
  print(str(a) + ' / ' + str(b) + ' = ' + str(a/b))

In [ ]:
operate(9,25)

9 + 25 = 34
9 - 25 = -16
9 x 25 = 225
9 / 25 = 0.36

In [ ]:
def fib(n):    # write Fibonacci series up to n
    """Print a Fibonacci series up to n."""
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
        #print()

In [ ]:
# Now call the function we just defined:
fib(1000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987

In [ ]:
# define method
def addnumbers(a, b): # add numbers and return result
    # logic
    c = a + b
    return c

In [ ]:
y = addnumbers(8, 9) # use or call method
print(y)

17

In [ ]:
addnumbers(33, 66)

99

In [ ]:
# add list values
def addValues(num):
    sum = 0
    for n in num:
        sum = sum + n
    return sum

In [ ]:
addValues([10,20,7,15])

52

In [ ]:
addValues([10])

10

In [ ]:
v = [5, 4,12, 7]
addValues(v)

28

In [ ]:
v = [5, 4,12, 7, 5, 4,12, 7, 5, 4,12, 7]
addValues(v)

84

In [ ]:
# method/function
def multiTable(n, r=10):
    for i in range(1,r+1):
        print("{}X{}={}".format(n,i,n*i))

In [ ]:
multiTable(5,4)

5X1=5
5X2=10
5X3=15
5X4=20

In [ ]:
multiTable(15)

15X1=15
15X2=30
15X3=45
15X4=60
15X5=75
15X6=90
15X7=105
15X8=120
15X9=135
15X10=150

<b>Exercise 3:</b> Define a method to add two lists and returns another list
<p>Example:<br>
    Input: [3,4,5,1] and [6,7,2,8]<br>
    output: [9,11,7,9]</p>

In [ ]:
# code here

def add(input1, input2):
 sum = []
 for i in range(0, len(input1)):
   sum.append(input1[i] + input2[i])
 print("Input: "+ str(input1) + " and " + str(input2))
 print("Output: "+ str(sum)) 

add([3,4,5,1],[6,7,2,8])

Input: [3, 4, 5, 1] and [6, 7, 2, 8]
Output: [9, 11, 7, 9]

<b> Exercise 4:</b> Write a method to print first name and last name from full name.
<p>Example:<br>
    Input: Arafat Rahman Sunny<br>
    Output: First name: Arafat, Last name: Sunny</p>

In [61]:
# code here

def name(s):
  l = s.split()
  fname=l[0]
  lname=l[-1]
  return "First name: "+fname+", Last name: "+lname
  
s ="Arafat Rahman Sunny"
name_splitted = name(s)
print("Input:" + str(s))
print(name_splitted)

Input:Arafat Rahman Sunny
First name: Arafat, Last name: Sunny

# Output Formatting (Optional)
Go to the [link](https://docs.python.org/3/tutorial/inputoutput.html#formatted-string-literals) and practice the codes below.

In [56]:
# code here

First name: Rakin, Last name: Aftab